<!DOCTYPE html>
<html>
<head>
  <title>Firebase TEST</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .rails-default-error-page {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  .rails-default-error-page div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  .rails-default-error-page h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }

  .rails-default-error-page div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDTUOvbeheo7E9tiF-o0YZ5Erzjn3s35Xo",
      authDomain: "eng-hash-191109.firebaseapp.com",
      databaseURL: "https://eng-hash-191109.firebaseio.com",
      projectId: "eng-hash-191109",
      storageBucket: "eng-hash-191109.appspot.com",
      messagingSenderId: "179349701342"
    };
    firebase.initializeApp(config);
    firebase.auth().createUserWithEmailAndPassword("mapleprince_2@hotmail.com", "zxcv123456").catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      console.log("ok");
      // ...
    });
  </script>
  <a href="/auth/facebook/" class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-facebook">
                                        <i class="fa fa-facebook"></i> GOOGLE+帳號串連 </a>
  <% if @auth.present? %>
    <%= @auth.to_json %>
  <% end %>
</body>
</html>
